.genero {
  display: flex;
  flex-direction: column;
  padding: 20px 100px;
  margin-top: 20px;
}

.livros-genero {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content:center;
}

.linha-destaque--pequena {
  width: 32px;
}

.genero-titulo {
  font-family: var(--font-prata);
  font-size: 28px;
  font-weight: var(--font-weight-normal);
  line-height: 38px;
  text-align: center;
}

.romance {
  background-color: #E8FFFF;
}

.genero .romance {
  border-bottom: 4px solid #82CFFA;
}

.misterio {
  background-color: #E9FFE3;
}

.genero .misterio {
  border-bottom: 4px solid #A6D157;
}

.fantasia {
  background-color: #FFE3E3;
}

.genero .fantasia {
  border-bottom: 4px solid #E06B69;
}

.ficcao-cientifica {
  background-color: #FFF0FA;
}

.genero .ficcao-cientifica {
  border-bottom: 4px solid #DB6EBF;
}

.tecnicos {
  background-color: #FFF1E4;
}

.genero .tecnicos {
  border-bottom: 4px solid #FF8A29;
}
